header{
  height:35px;
  position:fixed;
  top:0px;
  background-color: #777659;
  z-index: 2;
  width:100%;
  color:white;
  font-size: .85em;
  .fa{
    font-size:1.7em;
    margin-right:5px;
    color:black;
    margin-top:-1px;
  }
  .link_normalize{
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
  a{
    color:inherit;
    text-decoration: none;
    &:hover, &:focus{
      text-decoration: none;
      color:inherit;
    }
  }
  input{
    width: 50%;
    margin-top:.5em;
    color:black;
  }
  select{
    color:grey;
  }
}
.liberal{
  background-color: #5982ad;
}
.conservative{
  background-color:#bb5a49;
}
.none{
  background-color:#777659;
}
body{
  margin-top:35px;
  background-color: #e8e7e7;
}
.header-navlink{
  &:hover{
    opacity:.8;
  }
  border-right:1px solid #545252;
  padding-right:5px;
  margin-right:5px;
}

.header-toggle{
  width:105px;
  height:1.5em;
  margin-right:5px;
}
.ally-request-holder{
  position: relative;
}
.ally-request-dropdown{
  box-shadow: 5px 5px 5px gray;
  position:absolute;
  top:30px;
  left:-360px;
  background-color:lightgray;
  width:400px;
  padding: 0px 10px;
  .ally-invitation-tab{
    .user-pic-stripe,.userpic-pic{
      height:50px;
    }
    // .userpic-pic{
    //   height:35px;
    // }
    .col-xs-12{
      padding:0px;
      margin-bottom:5px;
    }
    width:100%;
    float:none;
    color:black;
    min-height:45px !important;
    border-top: 1px solid gray;
    .user-pic-container{
      // margin-top:-40px;
      position:relative;
      bottom:1.75em;
    }
  }
}

.accept-button{
  width:75px;
  height: 25px;
  background-color:#c1bebe;
  padding:2px 5px;
  margin-right: 5px;
  border:1px solid gray;
  &:hover{
    background-color:gray;
    color:white;
  }
}
.invites{
  height:15px;
  background-color:red;
  font-size:.75em;
  color:white;
  position:absolute;
  top:0px;
  right:8px;
  padding:3px;
  line-height:1em;
  border-radius:15px;
}
.profile-edit-btn{
  width:100px;
  height:25px;
  text-align: center;
  padding-top:.2em;
  background-color:lightgrey;
}
.post-header{
  position: relative;
}
.post-date{
  font-size: .7em;
  color:gray;
}
.post-username{
  color:#5982ad;
  font-weight: bold;
}
.post-header-text{
  display:inline-block;
  position: absolute;
  left:45px;
}
.post-text{
  margin-top:15px;
  padding-bottom: 5px;
}
.like-bar{
  border-top:1px solid darkgrey;
  padding-top:5px;
  font-size:.85em;
  a{
    .fa{
      margin-right:5px;
    }
    color:darkgrey;
    text-decoration: none;
    margin-right:20px;
    &:hover{
      color:grey;
      text-decoration: none;
    }
  }
}
.post-pic-col{
  display:inline-block;
  position:relative;
  margin-left:10px;
  img{
    position:absolute;
    top:-15px;
    left:0px;
    margin-top: 0em;
  }
}

.nav{
  width:950px;
  margin:auto;
  padding: 0px 10px;
}
.story{
  padding-bottom:10px;
  border-bottom:1px solid lightgrey;
  margin-bottom:25px;
}
.story-source{
  font-size:.6em;
  margin-left:5px;
}
.story-title{
  margin-bottom:20px;
}
.nav-right{
  float:right;
  margin-top:.5em;
  div{
    padding-top:4px;
  }
}
.nav-right div{
  float:right;
}
.wrapper{
  width: 950px;
  margin: auto;
  display:flex;
  overflow:visible;
}
.navigation-panel, .live-posts-panel, .ads-panel, .friends-panel{
  padding:10px;
}
.navigation-panel{
  width:190px;
  position: fixed;
  top:35px;
}
.live-posts-panel{
  width:440px;
  margin-left:190px;
}
.ads-panel, .friends-panel{
  a{
    img{
      &:hover{
        opacity:.65;
      }
    }
    color:black;
    &:hover{
      text-decoration:none;
      color:grey;
    }
  }
}
.ads-panel,.sticky{
  width:300px;
}
.friends-panel-header{
    i{
      font-size: 1.5em;
      color:#de3c57;
    }
    span{
      color:grey;
    }
  font-size:1.15em;
  min-width:300px;
  margin-bottom:5px;
}
.friends-panel{
  width:300px;
  margin-left:0px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ally-pic{
  position: relative;
  width:90px;
  height:90px;
  margin:3px;
  .ally-name{
    font-size:.85em;
    position:absolute;
    bottom:2px;
    left:2px;
    color:white;
  }
}
.user-panel{
  width:750px;
  .navbar-nav{
    background-color: #fff;
    width:100%;
  }
}
.user-tab{
  position: relative;
  height:35px;
  &:hover{
    opacity:.7;
  }
  img{
    float:right;
  }
}

// a{
// &:hover{
//   text-decoration: none;
// }
.userpic-tab{
  position: relative;
  height:35px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
  padding:5px 5px 38px 5px;
  color:black;
  &:hover{
    opacity:.7;
    color:white;
    background-color:gray;
  }
  div{
    position:absolute;
    right:35px;
    &>img{
      height:100%;
    }
  }
}
// }

.liberalstripe{
  background-color:#5982ad;
}
.conservativestripe{
  background-color:#bb5a49;
}
.user-panel-stripe{
  width:8px;
  height:30px;
  position:absolute;
  left:133px;
  bottom:10px;
}
.exp-user-panel-stripe{
  width:8px;
  height:30px;
  position:absolute;
  left:148px;
  bottom:10px;
  // left:135px;
  // bottom:10px;
}
.user-stripe{
  position:absolute;
  left:-8px;
  bottom:-15px;
  width:8px;
  height:30px;
  // background-color:blue;
  z-index: 1;
  border-left:1px solid #d2d2d2;
  border-top:1px solid #d2d2d2;
  border-bottom:1px solid #d2d2d2;
}
.user-pic-stripe{
  position:absolute;
  // left:-8px;
  // bottom:-15px;
  width:8px;
  left:-8px;
  height:100%;
  z-index: 1;
  // border-left:1px solid #d2d2d2;
  // border-top:1px solid #d2d2d2;
  // border-bottom:1px solid #d2d2d2;
}
.user-header{
  position: relative;
  ul{
    padding-left:140px !important;
    li{
      border-right: 1px solid lightgrey;
    }
  }
}
.user-tab-pic{
  position: relative;
}
.user-pic{
  margin-top:-.3em;
  margin-right:.5em;
  height:30px;
  width:30px;
  // border-right:1px solid #d2d2d2;
  // border-top:1px solid #d2d2d2;
  // border-bottom:1px solid #d2d2d2;
}

.post-header-pic{
  margin-top:-.3em;
  margin-right:.5em;
  height:30px;
  width:30px;
  border-right:1px solid #d2d2d2;
  border-top:1px solid #d2d2d2;
  border-bottom:1px solid #d2d2d2;
}
// .userpic-stripe{
//   width:8px;
//   height:30px;
//   border-left:1px solid #d2d2d2;
//   border-top:1px solid #d2d2d2;
//   border-bottom:1px solid #d2d2d2;
// }
.user-pic-container{
  height:35px;
  position:relative;
  left:-8px;
  bottom:-15px;
  position: relative;
  margin-right:15px;
}
.fa-handshake{
  font-family: Arial,Helvetica,sans-serif !important;
  font-size: inherit;
}
.comment-form{
  textarea{
    height:2em;
    border:none;
    resize:none;
    width:100%;
    &:focus{
      border: 0 none #fff;
      outline:none;
    }
  }
  .btn{
    float:right;
  }
}
.tall-comment-form{
  position:relative;
  z-index:3;
  textarea{
    border:none;
    resize:none;
    width:100%;
    &:focus{
      border: 0 none #fff;
      outline:none;
    }
  }
  .btn{
    float:right;
  }

}
.opaqueBackground{
  position:absolute;
  top:-15vh;
  left:0;
  width:100vw;
  height:200vh;
  opacity:.65;
  z-index: -1;
  background-color: white;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}
.user-nav{
  padding-left:140px !important;
  height:45px;
  list-style: none;
  background-color: #fff;

  a{
    font-size:1.25em;
    color:#564e4e;
    &:hover{
      text-decoration: none;
    }
    li{
      border-right: 1px solid lightgrey;
      float:left;
      height:100%;
      display: flex;
      &:hover{
        background-color:#ecebeb;
      }
      flex-direction: column;
      justify-content: space-around;
      padding:0px 25px;
    }
  }
}
.user-details{
  margin-top:15px;
  margin-bottom:100px;
  background-color:#fff;
  .fa-user-circle-o{
    font-size: 1.5em;
    color: #564e4e;
  }
}
.user-details-header{
  font-size:1.5em;
  color:#564e4e;
  *{
    margin-top:8px;
  }
  line-height: 50%;
  background-color: #f6f7f9;
  padding:0px 10px;
  height:50px;
  span{
    width:2em;
    color:black;
  }
}
.user-details-form{
  padding:10px;
  input,select{
    margin-bottom:10px;
  }
  button{
    margin-top:10px;
  }
}
.user-background-photo{
  width:100%;
  height:45vh;
  position: relative;
  background:{
    image:url("https://scontent.fhou1-2.fna.fbcdn.net/v/t31.0-8/903851_10152134175757581_6022100652898900742_o.jpg?oh=9c7dfe6619bdf5dcbd0f2c4abf379f1d&oe=5992B284");
    position:center;
    size:cover;
  }
  div{
    position:absolute;
    width:525px;
    bottom:15px;
    left:155px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    #title-username{
      color:white;
      font-size: 1.5em;
    }
    #view-activity{
      background-color:lightgrey;
      color:#564e4e;
      padding:5px;
      width:125px;
    }
  }
}
.profile-pic{
  background:{
    position:center;
    size:cover;
  }
  width:120px;
  height:120px;
  position:absolute;
  left:10px;
  top:30vh;
}
/*.scroller{
  position:relative;
  top:45px;
}*/
.users{
  width:200px;
  position: fixed;
  bottom:0;
  right:50px;
  height:25px;
  background-color:lightgray;
  border-left: 1px solid #b7b5b5;
  padding:10px;
  border: 1px solid #b7b5b5;
}
.expanded-user-column{
  // height:50vh;
  width:200px;
  padding: 15px 0px 15px 5px;
  position:fixed;
  right:50px;
  background-color: #e8e7e7;
  bottom:0px;
  border: 1px solid #b7b5b5;
  .userToggle{
    padding-bottom:15px;
  }
}

.user-preview-box{
  position:absolute;
  top:30px;
  z-index: 3;
  background-color:#fff;
  width:325px;
  height:225px;
  box-shadow: 5px 5px 5px gray;
  .user-preview-header{
    height:50%;
    position: relative;
    // background-color:gray;
    background:{
      image:url("https://scontent.fhou1-2.fna.fbcdn.net/v/t31.0-8/903851_10152134175757581_6022100652898900742_o.jpg?oh=9c7dfe6619bdf5dcbd0f2c4abf379f1d&oe=5992B284");
      position:center;
      size:cover;
    }
    .user-preview-pointer{
      background:inherit;
      position:absolute;
      top:-7px;
      left:7px;
      width:15px;
      height:15px;
      -webkit-transform: rotate(45deg); /* Safari */
      transform: rotate(45deg); /* Standard syntax */
    }
    span{
      font-size: 1em;
      color:white;
      position:absolute;
      bottom:15px;
      left:40%;
    }
    .opaque-connector{
      height:25px;
      width: 100%;
      background-color: none;
      position: absolute;
      top:-25px;
    }
  }
  img{
    width:30%;
    position:absolute;
    bottom:30%;
    left:5%;
  }
  .user-preview-footer{
    padding: 0px 15px;
    height:15%;
    width:100%;
    background-color: #e8e7e7;
    position:absolute;
    bottom:0px;
    a{
      &:hover{
        text-decoration: none;
      }
    }
    span{
      text-align: center;
      color:black;
      min-width:90px;
      max-width:50%;
      padding:2px 10px;
      font-size:1em;
      font-weight:normal;
      position:absolute;
      top:.25em;
      background-color:#f9f9f9;
      border:1px solid lightgrey;
      &:hover{
        background-color:lightgray;
      }
    }
  }

}
.userToggle{
  position:relative;
  bottom:8px;
}
.member-toggle{
  color:black;
  &:hover{
    text-decoration: none;
    color:gray;
  }
}
.nav-buffer{
  width:200px;
  float:right;
}
.panel{
  padding:5px;
  border-radius: 3px;
  margin-bottom:15px;
}
#ads{
  display: block;
  position:-webkit-sticky;
  position:sticky;
  top:0px;
}
.tall{
  height:200vh;
}

@media(max-width:950px){
  .outer-nav-wrapper{
    display: flex;
    justify-content: space-between;
  }
}
@media(min-width:1150px){
  .outer-wrapper,.outer-nav-wrapper{
    width:80%;
  }
  .userToggle,.expanded-user-column{
    display:none;
  }

  .users{
    display: block;
    background-color:#e8e7e7;
    height:100vh;
    position:inherit;
    float:right;
    position:fixed;
    top:35px;
    right:0;
    display: block;
  }
}
